.App{
    width: 100%;
    position: static;
}
.mainContain{
    position: relative;
    margin-top: 200px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1%;
}

.content{
    width: 70%;
    font-family: 'Lucida Sans', Helvetica, sans-serif;
    font-weight: lighter;
    padding-bottom: 20%;
}
.content p{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: rgba(255,255,255,.9);
    line-height: 1.3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
}
.content h1{
    font-size: 2rem;
    color: rgba(255,255,255,1);
    
}