.navContainer{
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55,55,55,1)), color-stop(rgba(55,55,55,1)), to(rgba(55,55,55,0)));
    background-image: linear-gradient(rgba(55,55,55,1), rgba(55,55,55,1), rgba(55,55,55,0));
    z-index: 100;
    padding-bottom: 50px;
}

.navText{
    color: rgba(255,255,255,1);
    font-family: 'Lucida Sans';
    display: block; 
    padding-top: 20px;
    position: relative;
    cursor: pointer;
}

.line{
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 17%;
    background-color: rgba(255,255,255,1);
    pointer-events: none;
}